/* ==========================================================================
   Config
   ========================================================================== */

cellulose_config = {
	colCount: 12,
	maxWidth: 1140px
}





/* ==========================================================================
   Cellulose
   ========================================================================== */

/*
 * Extend the default configuration with the supplied configuration.
 *
 * This is capitalised; although it is not technically a constructor, it does
 * need to be excuted before using Cellulose.
 */

Cellulose(config)
	cellulose_config = merge(cellulose_config, config)





/* ==========================================================================
   Column Width
   ========================================================================== */

/*
 * Given a column span, returns the width as a percentage.
 */

cellulose_colWidth(cols)
	((100 / cellulose_config['colCount']) * cols)%





/* ==========================================================================
   Span
   ========================================================================== */

/*
 * Apply column layout.
 */

cellulose_span(cols)
	display inline-block
	vertical-align top
	width cellulose_colWidth(cols)

	if (cols == cellulose_config['colCount']) && cellulose_config['maxWidth']
		max-width cellulose_config['maxWidth']





/* ==========================================================================
   Centre
   ========================================================================== */

/*
 * Centres a column.
 */

cellulose_centre()
	display block
	margin-left auto
	margin-right auto





/* ==========================================================================
   Offset
   ========================================================================== */

cellulose_offset(cols)
	margin-left cellulose_colWidth(cols)